@{
    ViewData["Title"] = "Home";
}

<section class="banner-section display-inline">
    <div class="panel">
        <main role="main" class="pb-3">

            <section class="banner-section display-inline hero_section home_banner">
                <div class="banner-outer owl-carousel display-inline" id="banner-slider">
                    <div class="banner">
                        <img src="images/banner1.png" alt="">
                        <div class="banner-content">
                            <div class="container">
                                <div class="cnt">
                                    <h2>UP MSME<br>1 Connect</h2>
                                    <p>
                                        This platform acts as a one-stop solution for MSMEs to access various government
                                        schemes, financial services, and other support services.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="banner">
                        <img src="images/banner2.png" alt="">
                        <div class="banner-content">
                            <div class="container">
                                <div class="cnt">
                                    <h2><br>RAMP</h2>
                                    <p>
                                        Ramp (Raising and Accelerating MSME Performance) aims to improve MSME
                                        performance by promoting innovation, technology upgradation, digitization,
                                        market access,
                                        credit, and greening initiatives.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="banner">
                        <img src="images/banner3.png" alt="">
                        <div class="banner-content">
                            <div class="container">
                                <div class="cnt">
                                    <h2>Vishwakarma<br>Artisan Connect</h2>
                                    <p>
                                        The MSME Vishwakarma Artisan Connect initiative aims to improve the livelihoods
                                        of traditional artisans by connecting them
                                        with markets, resources, and support services.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="banner-right">
                    <div class="image-block">
                        <img src="images/yogi.png" alt="yogi">
                        <div class="img-cnt">
                            <h2>Yogi Adityanath</h2>
                            <p>Hon’ble Chief Minister of Uttar Pradesh</p>
                        </div>
                    </div>
                </div>
            </section>

            <!-- About Section -->
            <div class="container about-section py-5">
                <div class="row align-items-center">
                    <div class="col-md-6 h_para mb-4 mb-md-0">
                        <p class="lead_text">
                            About
                        </p>

                        <h2>MSME 1-Connect</h2>

                        <p class="mb-4">
                            The government of Uttar Pradesh is committed to strengthening the Monitoring and Evaluation
                            (M&E) through UP MSME 1-Connect which consists of the establishment of a Unified State
                            Portal and One Connect Call Centre and Audits and Survey components. The primary objective
                            is to provide comprehensive 360-degree assistance to MSMEs through a data-driven approach.
                        </p>

                        <p class="mb-3">
                            It acts as a one-stop resource, offering comprehensive information, assistance, and guidance
                            to
                            the departments to understand and cater to the diverse needs of MSMEs. By centralizing
                            resources and leveraging expert knowledge, the platform aims to empower MSMEs, enabling them
                            to make informed decisions.
                        </p>

                        <a href="#" class="btn btn-warning">Learn More</a>
                    </div>

                    <div class="col-md-6">
                        <img src="~/images/about.png" class="img-fluid" alt="...">
                    </div>
                </div>
            </div>

            <!-- RAMP Section -->
            <div class="container ramp-section py-5">
                <div class="h_para mb-4">

                    <p class="lead_text">
                        About
                    </p>

                    <h2 class="mb-0">Raising and Accelerating</h2>

                    <h2>MSME Performance (RAMP)</h2>

                    <p>
                        RAMP stands for “Raising and Accelerating MSME Performance”.
                        The RAMP programme aims to enhance data-driven reporting mechanisms and implement a “best
                        practices” framework, which further helps in impact assessment. This initiative will improve the
                        effectiveness of schemes and policies, ensure accountability, and enable evidence-based decision
                        making to support the growth and development of MSMEs in the state.
                    </p>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xl-4 mb-4">
                        <div class="card_effect_1">
                            <img src="~/images/card-1.png" class="img-fluid" alt="...">
                            <div class="card_text">

                                <div class="icon_sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none">
                                        <path d="M17 7V3H7V7H3V21H21V7H17ZM9 5H15V7H9V5ZM19 9V14H5V9H19ZM5 19V16H7V18H9V16H15V18H17V16H19V19H5Z"
                                              fill="#F97316" />
                                    </svg>
                                </div>

                                <div>
                                    <h5 class="mt-2 mb-1">Vishwakarma</h5>
                                    <h5 class="mb-2 mb-lg-3">
                                        Artisan Connect
                                    </h5>

                                    <p class="mb-3 mb-lg-4">
                                        The MSME Strengthening and Capacity Building initiative aims to enhance the
                                        capabilities of various agencies under the Department of MSME and Export
                                        Promotion
                                    </p>

                                    <a href="#" class="btn btn-white text-primary btn-sm px-2">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xl-4 mb-4">
                        <div class="card_effect_1">
                            <img src="~/images/card-2.png" class="img-fluid" alt="...">
                            <div class="card_text">

                                <div class="icon_sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none">
                                        <path d="M17 7V3H7V7H3V21H21V7H17ZM9 5H15V7H9V5ZM19 9V14H5V9H19ZM5 19V16H7V18H9V16H15V18H17V16H19V19H5Z"
                                              fill="#F97316" />
                                    </svg>
                                </div>

                                <div>
                                    <h5 class="mt-2 mb-1">ZED Certification-</h5>
                                    <h5 class="mb-2 mb-lg-3">
                                        Zero Defect Zero Effect
                                    </h5>

                                    <p class="mb-3 mb-lg-4">
                                        The MSME Sustainable – ZED Certification initiative aims to promote sustainable manufacturing practices by encouraging MSMEs to adopt the Zero Defect Zero Effect (ZED) principles. Through organized workshops, MSMEs receive education and training on minimizing defects and reduc...
                                    </p>

                                    <a href="#" class="btn btn-white text-primary btn-sm px-2">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xl-4 mb-4 d-none d-xl-block">
                        <div class="card_effect_1">
                            <img src="~/images/card-3.png" class="img-fluid" alt="...">
                            <div class="card_text">

                                <div class="icon_sm">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                         fill="none">
                                        <path d="M17 7V3H7V7H3V21H21V7H17ZM9 5H15V7H9V5ZM19 9V14H5V9H19ZM5 19V16H7V18H9V16H15V18H17V16H19V19H5Z"
                                              fill="#F97316" />
                                    </svg>
                                </div>

                                <div>
                                    <h5 class="mt-2 mb-1">Technical</h5>
                                    <h5 class="mb-2 mb-lg-3">
                                        Upgradation Scheme
                                    </h5>

                                    <p class="mb-3 mb-lg-4">
                                        The MSME UPTUS UP Technical Upgradation Scheme aims to support MSMEs in Uttar Pradesh by enhancing their efficiency and productivity through technological advancements. This initiative provides financial assistance and subsidies to help MSMEs acquire advanced machinery and...
                                    </p>

                                    <a href="#" class="btn btn-white text-primary btn-sm px-2">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <section>
                <div class="container">
                    <div class="h_para mb-4">

                        <p class="lead_text">
                            Uttar Pradesh
                        </p>

                        <h2>Analytics & Reports</h2>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-lg-4 mb-4 mb-md-0">
                            <div class="row">
                                <div class="col-sm-6 col-md-12 mb-4">
                                    <img class="img-fluid" src="~/images/reports/img-1.png" alt="reports">
                                </div>

                                <div class="col-sm-6 col-md-12 mb-4">
                                    <img class="img-fluid" src="~/images/reports/img-2.png" alt="reports">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 col-lg-8 mb-4">
                            <div class="border rounded-4">
                                <div class="border-bottom">
                                    <img class="img-fluid" src="~/images/reports/img-3.png" alt="reports">
                                </div>
                                <div>
                                    <img class="img-fluid" src="~/images/reports/img-4.png" alt="reports">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</section>


<script>
    // document.addEventListener('DOMContentLoaded', function () {
    //     $('#exampleModalCenter').modal('show');
    // });


</script>


