<section>
  
    <div class="about_us">

        <section class="banner-section display-inline hero_section">
            <div class="banner-outer">
                <div class="banner">
                    <img src="~/images/state_banner.png" alt="">
                    <div class="banner-content">
                        <div class="container">
                            <div class="cnt">
                                <h2>State Government Schemes</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container py-5">
            <div class="row">
                <div class="col-md-12 schemes_list_li">

                    <div class="col-md-12 h_para">
                        <p class="lead_text">
                            Department Wise
                        </p>

                        <h2>UP Directorate of Industries & Enterprise Promotion</h2>
                    </div>

                    <ol class="mb-5">
                        <li>Vishwakarma Shram Samman Yojana</li>
                        <li>Mukhyamantri Yuva Swarojgar Yojana, U.P.</li>
                        <li>ODOP Schemes (One District One Product)
                            <ul style="list-style-type: disc;">
                                <li>ODOP Margin Money Scheme</li>
                                <li>ODOP Training and Toolkit Scheme</li>
                                <li>ODOP Common Facility Center Promotion</li>
                                <li>ODOP Marketing Development Assistance (MDA) Scheme</li>
                            </ul>
                        </li>
                        <li>Micro and Small Enterprises - Cluster Development Programme (MSE-CDP)</li>
                        <li>Uttar Pradesh Micro and Small Industries Technical Upgradation Scheme</li>
                        <li>Participating in National and International Trading Fairs and Exhibitions</li>
                        <li>Acknowledgement within 72 Hours under UPMSME Act 2020</li>
                        <li>Common Incentive under UP MSME Policy 2022</li>
                        <li>Mukhyamantri Sookshm Udyamee Durghatana Beema Yojana</li>
                        <li>Training Schemes
                            <ul style="list-style-type: disc;">
                                <li>Training Scheme for SC/ST</li>
                                <li>Training Scheme for OBC</li>
                                <li>Hastshilp Kaushal Vikas Training Scheme</li>
                            </ul>
                        </li>
                        <li>Pension & Incentive Schemes
                            <ul style="list-style-type: disc;">
                                <li>Chief Minister Handicrafts Pension Scheme</li>
                                <li>Visist Hasthshilp Pension Yojana</li>
                            </ul>
                        </li>
                    </ol>

                    <h5 class="mb-4">OTHER SCHEMES</h5>

                    <ol>
                        <li>Upgradation of Infrastructure Facilities in Industrial Estates</li>
                        <li>Stamp Duty Exemption</li>
                        <li>Incentive Schemes
                            <ul style="list-style-type: disc;">
                                <li>Handicraft Marketing Incentive Scheme</li>
                                <li>Regional Award Scheme for Incentives to Small Entrepreneurs</li>
                            </ul>
                        </li>
                        <li>Awards Schemes
                            <ul style="list-style-type: disc;">
                                <li>Celebrating All India Handicrafts Week</li>
                                <li>Regional Award to Specific Handicrafts</li>
                            </ul>
                        </li>
                        <li>Implementation of Single Window at District Industries Bundu and District Level (District
                            Planning)</li>
                        <li>Interest Subsidy under Micro, Small, and Medium Enterprises Policy</li>
                        <li>Stamp Duty Schemes
                            <ul style="list-style-type: disc;">
                                <li>Stamp Duty Exemption under UP Industrial Policy 2022</li>
                                <li>Stamp Duty Exemption under Handloom and Textile Policy 2022</li>
                                <li>Stamp Duty Exemption under FDI Policy 2023</li>
                            </ul>
                        </li>
                    </ol>

                </div>
            </div>
        </div>

        <div class="container about-section">
            <div class="row">
                <div class="col-md-12 h_para">
                    <p class="lead_text">
                        Scheme
                    </p>

                    <h2>Details & Documents</h2>

                    <div class="table_box border rounded-4">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>
                                            Subject
                                        </td>
                                        <td>
                                            Uploaded on
                                        </td>
                                        <td>

                                        </td>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>
                                            Vishwakarma Shram Samman Yojana (English)
                                        </td>
                                        <td>
                                            10/08/2024
                                        </td>
                                        <td>
                                            <button class="btn btn-primary py-1 px-4">Download</button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            Mukhyamantri Yuva Swarojgar Yojana (English)
                                        </td>
                                        <td>
                                            10/08/2024
                                        </td>
                                        <td>
                                            <button class="btn btn-primary py-1 px-4">Download</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div
</section>