@{
    ViewData["title"] = "Reports & Analytics";
}
<section class="banner-section display-inline hero_section">
    <div class="banner-outer display-inline">
        <div class="banner">
            <img src="~/images/reports/banner.png" alt="">
            <div class="banner-content">
                <div class="container">
                    <div class="cnt">
                        <h2>
                            Reports & Analytics
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="py-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 col-lg-4 mb-4 mb-md-0">
                <div class="row">
                    <div class="col-sm-6 col-md-12 mb-4">
                        <img class="img-fluid" src="~/images/reports/img-1.png" alt="reports">
                    </div>

                    <div class="col-sm-6 col-md-12 mb-4">
                        <img class="img-fluid" src="~/images/reports/img-2.png" alt="reports">
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-lg-8 mb-4">
                <div class="border rounded-4">
                    <div class="border-bottom">
                        <img class="img-fluid" src="~/images/reports/img-3.png" alt="reports">
                    </div>
                    <div>
                        <img class="img-fluid" src="~/images/reports/img-4.png" alt="reports">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


