.btn-info.disabled, .btn-info:disabled {
    color: #fff;
    background-color: #ADBAC5;
    border-color: #ADBAC5;
    border: none;
    box-shadow: none;
}

.form-control {
    height: auto !important;
    background: #FDFDFD;
    border: 1px solid #f1f1f1;
    font-size: 14px !important;
    box-shadow: none;
    border-radius: 5px;
    display: block;
}

    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #d8d8d8;
        outline: 0;
        box-shadow: none !important;
    }

.control-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    padding-bottom: 2px;
    color: #83919C;
}

.field-icon {
    float: right;
    position: absolute;
    top: 34px;
    z-index: 10;
    right: 15px;
    font-size: 22px;
}

.sidebar-nav {
    background: #fff;
    padding: 30px 20px 0;
}

.pcustom {
    padding: 40px 0 40px 50px;
}


.tuser {
    padding-left: 20px;
}

    .tuser h4 {
        margin: 0px;
        padding: 0px;
        font-size: 14px;
    }

    .tuser p {
        line-height: 14px;
        margin: 0px;
        padding: 0px;
        font-size: 12px;
    }

.btncenter {
    margin: 0;
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 12px;
}


.card-header {
    background: none;
    border-bottom: 1px solid #E9EDF4;
}

.card.noborder {
    border: none;
}

.card {
    border: none;
    -webkit-box-shadow: 0 2px 5px 0 rgb(157 157 157 / 15%);
    box-shadow: 0 2px 5px 0 rgb(157 157 157 / 15%);
    border-radius: 4px;
    margin-bottom: 25px;
}

.ptooltip {
    position: absolute;
    max-width: 390px;
    width: 390px;
    background: #F5F5F5;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.17);
    border-radius: 20px;
    border: 1px solid #E7E7E7;
    top: 50%;
    left: 50%;
    padding: 20px 30px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

    .ptooltip h3 {
        color: #374957;
        font-size: 18px;
        font-weight: 600;
    }


.closebtn {
    position: absolute;
    right: 20px;
    top: 20px;
}

    .closebtn a {
        color: #374957;
    }

        .closebtn a:hover {
            color: red;
        }

.table th, .table thead th {
    background: #f1f1f1;
}

.table {
    border: 1px solid #ededed;
    font-size: 14px;
}

.table-responsive {
    background: #fff;
}

.mr-10 {
    margin-right: 10px
}

.card-body {
    padding: 10px;
}

ul.charttype li a.active {
    background: #d9d9d9;
}


.tablevalue {
    font-weight: 700;
}

    .tablevalue thead {
        background: #737B8B;
        border-radius: 5px;
    }

    .tablevalue tr th {
        background: #737B8B;
        color: #fff;
    }

    .tablevalue tr td {
        color: #737B8B;
    }

        .tablevalue tr td i {
            font-size: 18px
        }

    .tablevalue tr th:last-child {
        text-align: right;
    }

    .tablevalue tr td:last-child {
        text-align: right;
    }

.text-blue1 {
    color: #3D77EA
}

    .text-blue1 span {
        float: right;
        color: #737B8B;
        font-size: 14px;
    }

        .text-blue1 span a {
            color: #737B8B
        }

.districtName-bar .districtNames .districtName h2 {
    display: block;
    width: 60px;
}

.districtName-bar-bottom {
    padding-top: 25px;
}

.dropdown-toggle::after {
    display: none;
}

button {
    background: #F3F3F3 !important;
    border: none !important
}

    button.btn {
        box-shadow: none !important;
        color: #737b8b !important;
    }

        button.btn:focus {
            box-shadow: none !important;
            color: #737b8b !important;
        }

        button.btn:hover {
            box-shadow: none !important;
            color: #737b8b;
        }

@media (min-width: 992px) {
    .dropdown-menu-lg-right {
        right: -60px !important;
        left: auto !important;
    }
}




.select2-container--default .select2-selection--multiple {
    border-radius: 10px !important;
    cursor: text;
    min-height: auto !important;
    padding: 5px 10px;
}

.select2-container--default .select2-selection--single {
    background: #FAFAFA;
    border-radius: 5px !important;
    cursor: text;
    min-height: auto !important;
    padding: 0px 5px;
}

    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-width: 9px 6px 0 6px;
        margin-left: -15px;
        margin-top: -4px;
    }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 6px 9px 6px;
}

.select2-container--default .select2-search--inline .select2-search__field {
}



.closeicon {
    position: absolute;
    top: 5px;
    left: 30px;
    z-index: 2;
    color: #737b8b;
}


.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f97316;
    color: white;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #fff8f1;
    color: #333;
}

.select2-dropdown {
    background-color: white;
    border: 1px solid #dfe3e8;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #dfe3e8;
}

.select2-results__option {
    padding: 5px;
    user-select: none;
    -webkit-user-select: none;
    font-size: 14px;
}

.topbadge {
    margin-bottom: 20px;
}

    .topbadge button {
        background: #F5F5F5 !important;
        margin: 0 10px 10px 0;
        border: 1px solid #ededed !important;
    }

        .topbadge button:hover {
            background: #fff !important;
        }

.card-actions .form-control {
    display: inline-block;
    width: auto;
    background: #FFF8F1;
    border: none;
    min-height: auto;
}

.nav-tabs {
    border-bottom: 0px solid #dee2e6;
}

    .nav-tabs .nav-link {
        border-radius: 0px !important;
        background: #FFF8F1;
        border: 0px solid red;
        border-left: 1px solid #E9EDF4;
        padding: 5px 8px;
    }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: #fff;
            background-color: #f97316;
            border-color: #f97316;
            font-weight: 600;
        }

        .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
            color: #fff;
            border-color: #fff8f1;
            background: #f97316;
        }

.cardact {
    padding: 0px 0px 0px 10px;
}

h4.card-title.m-b-0 {
    font-size: 16px;
    font-weight: 500;
}

.cardact a {
    margin-left: 1px;
    border: 1px solid #E9EDF4;
    padding: 3px 6px;
    border-radius: 2px;
    background: #ffffff;
}

.totalmsme {
    padding: 25px;
    background: #F97316;
    color: #fff;
}

h5.total {
    font-size: 14px;
    color: #fff;
    margin: 0px;
}

h4.catname {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding-bottom: 25px;
    margin: 0px;
}

h4.catvalue {
    margin: 0px;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

.totalmsme {
    padding: 25px;
    background: #F97316;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
}

.medium {
    padding: 30px;
    background: #FFB07A;
    color: #333;
    margin-bottom: 10px
}

.micro {
    padding: 30px;
    background: #FFD4B6;
    color: #333;
    margin-bottom: 10px
}

.small {
    padding: 30px;
    background: #FFF0E5;
    color: #333;
    margin-bottom: 0px
}

    .medium .card-title,
    .micro .card-title,
    .small .card-title {
        margin: 0px;
    }

    .medium h4.catvalue,
    .micro h4.catvalue,
    .small h4.catvalue {
        margin: 0px;
        color: #333;
        font-size: 32px;
        font-weight: 600;
        padding-bottom: 20px;
    }
