
<section>
    <section class="banner-section display-inline hero_section">
        <div class="banner-outer display-inline">
            <div class="banner">
                <img src="~/images/RampHome/Banner_Pledge.png" alt="">
                <div class="banner-content">
                    <div class="container">
                        <div class="cnt">
                            <h2>
                                PLEDGE Scheme
                            </h2>
                            <p>
                                Building a Stronger MSME Ecosystem for Sustainable
                                Industrial Growth
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6 h_para mb-4 mb-md-0">
                <p class="lead_text">
                    About
                </p>

                <h2>
                    PLEDGE Scheme (Private Land
                    for Enterprises Development &
                    Growth Empowerment)
                </h2>

                <p class="mb-4">
                    The PLEDGE Scheme (Private Land for Enterprises Development & Growth
                    Empowerment) is a key initiative launched by the Government of Uttar
                    Pradesh to foster the development of private industrial parks. This scheme is
                    designed to support the growth and expansion of Micro, Small, and Medium
                    Enterprises (MSMEs) by providing financial assistance and infrastructure
                    support. It aims to enhance industrialization across the state, with a special
                    focus on the aspirational districts. By encouraging the establishment of
                    private industrial parks, the PLEDGE scheme seeks to create an enabling
                    environment for MSMEs to thrive.
                </p>



            </div>

            <div class="col-md-6 ps-xl-5">
                <img src="~/images/RampHome/Pledge_Card1.png" class="img-fluid" alt="...">
            </div>
        </div>
    </div>

    <div class="py-5 bg-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 mb-4 mb-md-0  pe-xl-5">
                    <img src="~/images/RampHome/Pledge_Card2.png" class="img-fluid" alt="...">
                </div>

                <div class="col-md-6 h_para">
                    <!-- <p class="lead_text">
                        About
                    </p> -->

                    <h2>Objective</h2>

                    <h6 class="mb-3">
                        Fostering Industrial Growth and Economic Development Through
                        the PLEDGE Scheme
                    </h6>

                    <p class="mb-0">
                        The primary objective of the PLEDGE scheme is to promote the development
                        of private industrial parks that will strengthen the MSME sector and drive
                        industrial growth in Uttar Pradesh. Additionally, the scheme seeks to
                        stimulate economic development by attracting both domestic and foreign
                        investments, which will create jobs, boost production, and enhance exports.
                        By promoting balanced regional development, especially in aspirational
                        districts, the PLEDGE scheme strives to reduce regional disparities and
                        foster overall industrial growth.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6 h_para mb-4 mb-md-0">
                <!-- <p class="lead_text">
                    About
                </p> -->

                <h2>Key Features</h2>

                <div class="mb-3">
                    <ul>
                        <li style="list-style-type: disc;">
                            <h6 class="mb-1">Awareness and Handholding Support</h6>
                        </li>
                    </ul>

                    <p>
                        MSMEs will receive guidance on setting up operations in private parks and
                        will be educated on the benefits of the PLEDGE scheme.
                    </p>
                </div>

                <div class="mb-3">
                    <ul>
                        <li style="list-style-type: disc;">
                            <h6 class="mb-1">Focus on Aspirational Districts</h6>
                        </li>
                    </ul>

                    <p>
                        Special emphasis on supporting MSMEs in less-developed regions,
                        providing balanced regional development.
                    </p>
                </div>

                <div class="mb-3">
                    <ul>
                        <li style="list-style-type: disc;">
                            <h6 class="mb-1">  Infrastructure Development</h6>
                        </li>
                    </ul>

                    <p>
                        PLEDGE parks will be developed with high-quality infrastructure, utilities,
                        and modern facilities to attract diverse industries.
                    </p>
                </div>
                
                <div class="mb-3">
                    <ul>
                        <li style="list-style-type: disc;">
                            <h6 class="mb-1">   Technology Promotion</h6>
                        </li>
                    </ul>

                    <p>
                        The scheme encourages MSMEs to adopt modern technologies and
                        innovate, helping them enhance product quality and diversify their
                        offerings.
                    </p>
                </div>
            </div>

            <div class="col-md-6 ps-xl-5">
                <img src="~/images/RampHome/Pledge_Card3.png" class="img-fluid" alt="...">
            </div>
        </div>
    </div>

    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 h_para">
                <p class="lead_text">
                    Event Schedule
                </p>

                <h2>  UP Technical Upgradation Support Workshops</h2>

                <div class="table_box border rounded-4">

                    <div class="d-flex justify-content-between align-items-center mb-3">

                        <div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>
                                        Location
                                    </td>
                                    <td>
                                        Venue
                                    </td>
                                    <td>
                                        Date
                                    </td>
                                    <td>
                                        Time
                                    </td>
                                    <td>
                                        Enroll
                                    </td>

                                    <td>
                                    </td>
                                </tr>
                            </thead>

                            <tbody>

                                <tr>
                                    <td>
                                        Agra
                                    </td>
                                    <td>
                                        Ashok Marg, Jawahar Nagar, Agra,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <span class="text-primary">
                                            Registration Closed
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Allahabad
                                    </td>
                                    <td>
                                        Ashok Marg, Nawabganj, Allahabad,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Kanpur
                                    </td>
                                    <td>
                                        Ashok Marg, Civil Lines, Kanpur,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Barabanki
                                    </td>
                                    <td>
                                        P. Road, Sisamau, Barabanki,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>