
<section>
    <section class="banner-section display-inline hero_section">
        <div class="banner-outer display-inline">
            <div class="banner">
                <img src="~/images/RampHome/Banner_TUS.png" alt="">
                <div class="banner-content">
                    <div class="container">
                        <div class="cnt">
                            <h2>
                                UP Technical
                                Upgradation Support
                            </h2>
                            <p>
                                Empowering MSMEs with Advanced Technology for
                                Sustainable Growth and Global Competitiveness
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6 h_para mb-4 mb-md-0">
                <p class="lead_text">
                    About
                </p>

                <h2>
                    UP Technical Upgradation
                    Support
                </h2>

                <p class="mb-4">
                    The MSME UPTUS (UP Technical Upgradation Support) initiative aims to
                    modernize MSMEs by supporting technical upgradation, enabling them to
                    compete in a global marketplace. This program provides businesses with the
                    tools and guidance to implement the latest technologies, helping them
                    increase productivity and product quality.
                </p>



            </div>

            <div class="col-md-6 ps-xl-5">
                <img src="~/images/RampHome/TUS_Card1.png" class="img-fluid" alt="...">
            </div>
        </div>
    </div>

    <div class="py-5 bg-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 mb-4 mb-md-0  pe-xl-5">
                    <img src="~/images/RampHome/TUS_Card2.png" class="img-fluid" alt="...">
                </div>

                <div class="col-md-6 h_para">
                    <!-- <p class="lead_text">
                        About
                    </p> -->

                    <h2>Objective</h2>

                    <h6 class="mb-3">
                        Enhancing MSME Competitiveness Through Technical and
                        Financial Support
                    </h6>

                    <p class="mb-0">
                        The objective of UPTUS is to provide technical and financial support to
                        MSMEs for upgrading their machinery, processes, and technologies. By
                        embracing modernization, MSMEs can improve their operational efficiency,
                        reduce production costs, and enhance the quality of their products. This
                        initiative helps businesses stay competitive in both domestic and
                        international markets by fostering innovation and sustainable growth.
                        Additionally, UPTUS aims to bridge the gap between traditional practices and
                        modern technology, ensuring that MSMEs can adapt to changing industry
                        demands and thrive in a dynamic business environment
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6 h_para mb-4 mb-md-0">
                <!-- <p class="lead_text">
                    About
                </p> -->

                <h2>Key Features</h2>

                <div class="mb-3">
                    <ul>
                        <li style="list-style-type: disc;">
                            <h6 class="mb-1">Technology Integration</h6>
                        </li>
                    </ul>

                    <p>
                        UPTUS supports MSMEs in acquiring and implementing advanced
                        technologies, allowing them to modernize their operations. This helps
                        improve production capabilities, enhance product quality, and meet
                        changing market demands.
                    </p>
                </div>

                <div class="mb-3">
                    <ul>
                        <li style="list-style-type: disc;">
                            <h6 class="mb-1"> Process Optimization</h6>
                        </li>
                    </ul>

                    <p>
                        The initiative assists businesses in improving production processes to
                        enhance efficiency. By minimizing downtime and reducing waste, MSMEs
                        can achieve smoother operations, lower costs, and increase profitability.
                    </p>
                </div>

                <div class="mb-3">
                    <ul>
                        <li style="list-style-type: disc;">
                            <h6 class="mb-1"> Capacity Building</h6>
                        </li>
                    </ul>

                    <p>
                        UPTUS provides training and expert advice to MSMEs, helping them
                        prevent technical degradation and build the skills needed for long-term
                        growth. This ensures that businesses and their workforce can
                        continuously improve and adapt to new technological advancements
                    </p>
                </div>
            </div>

            <div class="col-md-6 ps-xl-5">
                <img src="~/images/RampHome/TUS_Card3.png" class="img-fluid" alt="...">
            </div>
        </div>
    </div>

    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 h_para">
                <p class="lead_text">
                    Event Schedule
                </p>

                <h2>  UP Technical Upgradation Support Workshops</h2>

                <div class="table_box border rounded-4">

                    <div class="d-flex justify-content-between align-items-center mb-3">
                       
                        <div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>
                                        Location
                                    </td>
                                    <td>
                                        Venue
                                    </td>
                                    <td>
                                        Date
                                    </td>
                                    <td>
                                        Time
                                    </td>
                                    <td>
                                        Enroll
                                    </td>

                                    <td>
                                    </td>
                                </tr>
                            </thead>

                            <tbody>

                                <tr>
                                    <td>
                                        Agra
                                    </td>
                                    <td>
                                        Ashok Marg, Jawahar Nagar, Agra,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <span class="text-primary">
                                            Registration Closed
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Allahabad
                                    </td>
                                    <td>
                                        Ashok Marg, Nawabganj, Allahabad,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Kanpur
                                    </td>
                                    <td>
                                        Ashok Marg, Civil Lines, Kanpur,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Barabanki
                                    </td>
                                    <td>
                                        P. Road, Sisamau, Barabanki,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>