
<section>
    <section class="banner-section display-inline hero_section">
        <div class="banner-outer display-inline">
            <div class="banner">
                <img src="~/images/RampHome/Banner_Vishwa.png" alt="">
                <div class="banner-content">
                    <div class="container">
                        <div class="cnt">
                            <h2>
                                Vishwakarma
                                Artisan Connect
                            </h2>
                            <p>
                                Empowering Artisans with Modern Resources and Market
                                Access to Revitalize Tradition and Drive Success
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6 h_para mb-4 mb-md-0">
                <p class="lead_text">
                    About
                </p>

                <h2>Vishwakarma Artisan Connect</h2>

                <p class="mb-4">
                    The MSME Vishwakarma Artisan Connect is an initiative focused on
                    empowering artisans by providing them access to modern tools, skills
                    training, and financial assistance. The program supports traditional artisans in
                    improving their craftsmanship, preserving heritage, and expanding their
                    market reach.
                </p>

                <p class="mb-4">
                    By facilitating access to contemporary resources and market opportunities,
                    it aims to enhance the global competitiveness of artisanal products.
                    Additionally, the initiative fosters innovation and sustainability, ensuring that
                    traditional skills are preserved while adapting to modern industry standards
                </p>

            </div>

            <div class="col-md-6 ps-xl-5">
                <img src="~/images/RampHome/Vishwa_Card1.png" class="img-fluid" alt="...">
            </div>
        </div>
    </div>

    <div class="py-5 bg-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 mb-4 mb-md-0  pe-xl-5">
                    <img src="~/images/RampHome/Vishwa_Card2.png" class="img-fluid" alt="...">
                </div>

                <div class="col-md-6 h_para">
                    <!-- <p class="lead_text">
                        About
                    </p> -->

                    <h2>Objective</h2>

                    <h6 class="mb-3">
                        Empowering Artisans with Modern Tools and Market Opportunities
                        While Preserving Traditional Craftsmanship
                    </h6>

                    <p class="mb-0">
                        The objective of the Vishwakarma Artisan Connect is to uplift artisans by
                        equipping them with modern tools and resources, while preserving their
                        traditional craftsmanship. This initiative fosters skill development, market
                        linkages, and financial support, enabling artisans to thrive in today's
                        competitive environment. By bridging the gap between traditional
                        techniques and contemporary needs, the program aims to enhance the
                        quality and appeal of artisanal products. It also seeks to expand artisans'
                        market reach, both domestically and internationally, ensuring their unique
                        skills receive recognition and appreciation. Through these efforts, the
                        initiative promotes sustainable livelihoods and helps maintain the cultural
                        heritage of artisanal craftsmanship
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6 h_para mb-4 mb-md-0">
                <!-- <p class="lead_text">
                    About
                </p> -->

                <h2>Key Features</h2>

                <div class="mb-3">
                    <ul>
                        <li style="list-style-type: disc;">
                            <h6 class="mb-1">Skill Enhancement</h6>
                        </li>
                    </ul>

                    <p>
                        Delivers targeted training programs to enhance artisans' technical and
                        creative abilities. These programs focus on improving craftsmanship and
                        introducing innovative techniques, ensuring artisans stay competitive and
                        produce high-quality products.
                    </p>
                </div>

                <div class="mb-3">
                    <ul>
                        <li style="list-style-type: disc;">
                            <h6 class="mb-1"> Financial Assistance</h6>
                        </li>
                    </ul>

                    <p>
                        Provides financial support to help artisans acquire modern tools and
                        machinery. This funding reduces the financial burden of upgrading
                        equipment, enabling artisans to improve productivity and achieve higher
                        standards in their work.
                    </p>
                </div>

                <div class="mb-3">
                    <ul>
                        <li style="list-style-type: disc;">
                            <h6 class="mb-1"> Market Linkages</h6>
                        </li>
                    </ul>

                    <p>
                        Connects artisans with potential buyers and new markets through
                        networking opportunities and trade platforms, expanding their reach and
                        increasing sales.
                    </p>
                </div>
            </div>

            <div class="col-md-6 ps-xl-5">
                <img src="~/images/RampHome/Vishwa_Card3.png" class="img-fluid" alt="...">
            </div>
        </div>
    </div>

    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 h_para">
                <p class="lead_text">
                    Event Schedule
                </p>

                <h2> Vishwakarma Artisan Connect Workshops</h2>

                <div class="table_box border rounded-4">

                    <div class="d-flex justify-content-between align-items-center mb-3">
                      
                        <div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>
                                        Location
                                    </td>
                                    <td>
                                        Venue
                                    </td>
                                    <td>
                                        Date
                                    </td>
                                    <td>
                                        Time
                                    </td>
                                    <td>
                                        Enroll
                                    </td>

                                    <td>
                                    </td>
                                </tr>
                            </thead>

                            <tbody>
                             
                                <tr>
                                    <td>
                                        Agra
                                    </td>
                                    <td>
                                        Ashok Marg, Jawahar Nagar, Agra,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <span class="text-primary">
                                            Registration Closed
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Allahabad
                                    </td>
                                    <td>
                                        Ashok Marg, Nawabganj, Allahabad,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Kanpur
                                    </td>
                                    <td>
                                        Ashok Marg, Civil Lines, Kanpur,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Barabanki
                                    </td>
                                    <td>
                                        P. Road, Sisamau, Barabanki,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>