
<section>
    <section class="banner-section display-inline hero_section">
        <div class="banner-outer display-inline">
            <div class="banner">
                <img src="~/images/hero_img.jpg" alt="">
                <div class="banner-content">
                    <div class="container">
                        <div class="cnt">
                            <h2>Zero Defect Zero Effect</h2>
                            <p>
                                With ZED, India is not just certifying businesses; it’s advancing towards a future
                                of industrial and economic prosperity.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6 h_para mb-4 mb-md-0">
                <p class="lead_text">
                    About
                </p>

                <h2>ZED Certification</h2>

                <p class="mb-4">
                    The MSME Sustainable – ZED Certification initiative aims to promote sustainable manufacturing
                    practices by encouraging MSMEs to adopt the Zero Defect Zero Effect (ZED) principles.
                </p>

                <p class="mb-4">
                    Through organized workshops, MSMEs receive education and training on minimizing defects and
                    reducing environmental impact. Those that meet the ZED criteria receive certification, which
                    enhances their competitiveness and marketability in the industry.
                </p>

            </div>

            <div class="col-md-6 ps-xl-5">
                <img src="~/images/medal.png" class="img-fluid" alt="...">
            </div>
        </div>
    </div>

    <div class="py-5 bg-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 mb-4 mb-md-0  pe-xl-5">
                    <img src="~/images/zedimage.jpg" class="img-fluid" alt="...">
                </div>

                <div class="col-md-6 h_para">
                    <!-- <p class="lead_text">
                        About
                    </p> -->

                    <h2>Objective</h2>

                    <h6 class="mb-3">
                        To promote sustainable manufacturing practices among MSMEs through the Zero Defect Zero Effect
                        (ZED) certification.
                    </h6>

                    <p class="mb-0">
                        The primary aim of the ZED Certification program is to help MSMEs adopt sustainable
                        manufacturing practices that lead to both high-quality products (Zero Defect) and minimal
                        environmental impact (Zero Effect). By encouraging MSMEs to focus on efficiency, quality
                        control, and sustainability, the program seeks to make Indian manufacturing globally competitive
                        while also addressing environmental concerns. The ultimate goal is to create a culture of
                        continuous improvement, where businesses thrive by adopting practices that benefit both their
                        operations and the environment.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-md-6 h_para mb-4 mb-md-0">
                <!-- <p class="lead_text">
                    About
                </p> -->

                <h2>Key Features</h2>

                <div class="mb-3">
                    <ul>
                        <li style="list-style-type: disc;">
                            <h6 class="mb-1">Workshops and Training:</h6>
                        </li>
                    </ul>

                    <p>
                        ZED conducts workshops across India, offering hands-on training in Zero Defect and Zero Effect
                        principles, including waste reduction, process efficiency, and sustainability. These sessions
                        also promote knowledge sharing among MSMEs for continuous improvement.
                    </p>
                </div>

                <div class="mb-3">
                    <ul>
                        <li style="list-style-type: disc;">
                            <h6 class="mb-1">Encourages MSMEs to adopt quality standards</h6>
                        </li>
                    </ul>

                    <p>
                        ZED motivates MSMEs to implement quality standards, which help minimize production defects and
                        reduce environmental impact. This leads to higher product quality and more sustainable
                        manufacturing practices.
                    </p>
                </div>

                <div class="mb-3">
                    <ul>
                        <li style="list-style-type: disc;">
                            <h6 class="mb-1">Provides Certification</h6>
                        </li>
                    </ul>

                    <p>
                        ZED provides certification to MSMEs that meet its criteria, boosting their competitiveness and
                        marketability by formally recognizing their commitment to quality and sustainability.
                    </p>
                </div>
            </div>

            <div class="col-md-6 ps-xl-5">
                <img src="~/images/keyimage.jpg" class="img-fluid" alt="...">
            </div>
        </div>
    </div>

    <div class="container py-5">
        <div class="row">
            <div class="col-md-12 h_para">
                <p class="lead_text">
                    Event Schedule
                </p>

                <h2> ZED Workshops</h2>

                <div class="table_box border rounded-4">

                    <div class="d-flex justify-content-between align-items-center mb-3">

                        <div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>
                                        Location
                                    </td>
                                    <td>
                                        Venue
                                    </td>
                                    <td>
                                        Date
                                    </td>
                                    <td>
                                        Time
                                    </td>
                                    <td>
                                        Enroll
                                    </td>

                                    <td>
                                    </td>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <span class="text-primary">
                                            Registration Closed
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <span class="text-primary">
                                            Registration Closed
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Lucknow
                                    </td>
                                    <td>
                                        Ashok Marg, Hazratganj, Lucknow,
                                    </td>
                                    <td>
                                        10/08/2024
                                    </td>
                                    <td>
                                        04:30 pm
                                    </td>
                                    <td>
                                        100
                                    </td>
                                    <td>
                                        <button class="btn btn-primary py-1 px-4">Register</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>