<section class="banner-section display-inline hero_section">
    <div class="banner-outer">
        <div class="banner">
            <img src="~/images/state_banner.png" alt="">
            <div class="banner-content">
                <div class="container">
                    <div class="cnt">
                        <h2 class="mb-1">Central Government Schemes </h2>
                        <!-- <h2 class="mb-1">Prime Minister’s </h2>
                        <h2 class="mb-1">Employment Generation </h2>
                        <h2 class="mb-1">Programme (PMEGP)</h2> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container py-5">
    <div class="row">
        <div class="col-md-12 schemes_list_li">

            <div class="col-md-12 h_para">
                <p class="lead_text">
                    Department Wise
                </p>

                <h2>Ministry of MSME, Government of India</h2>
            </div>

            <ol>
                <li>Micro and Small Enterprises - Cluster Development Programme (MSE-CDP)</li>
                <li>Credit Guarantee Fund Trust for Micro and Small Enterprises (CGTMSE)</li>
                <li>Prime Minister’s Employment Generation Programme (PMEGP)</li>
                <li>National Manufacturing Competitiveness Programme (NMCP)</li>
                <li>Technology Centers (formerly Tool Rooms)</li>
            </ol>

        </div>
    </div>
</div>

<div class="container about-section">
    <div class="row">
        <div class="col-md-12 h_para">
            <p class="lead_text">
                Scheme
            </p>

            <h2>Details & Documents</h2>

            <div class="table_box border rounded-4">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>
                                    Subject
                                </td>
                                <td>
                                    Uploaded on
                                </td>
                                <td>
                                </td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    Micro and Small Enterprises - Cluster Development Programme
                                    (English)
                                </td>
                                <td>
                                    10/08/2024
                                </td>
                                <td>
                                    <button class="btn btn-primary py-1 px-4">Download</button>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Credit Guarantee Fund Trust for Micro and Small Enterprises (English)
                                </td>
                                <td>
                                    10/08/2024
                                </td>
                                <td>
                                    <button class="btn btn-primary py-1 px-4">Download</button>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Prime Minister’s Employment Generation Programme (English)
                                </td>
                                <td>
                                    10/08/2024
                                </td>
                                <td>
                                    <button class="btn btn-primary py-1 px-4">Download</button>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    National Manufacturing Competitiveness Programme (English)
                                </td>
                                <td>
                                    10/08/2024
                                </td>
                                <td>
                                    <button class="btn btn-primary py-1 px-4">Download</button>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Technology Centers (formerly Tool Rooms) (English)
                                </td>
                                <td>
                                    10/08/2024
                                </td>
                                <td>
                                    <button class="btn btn-primary py-1 px-4">Download</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>