@{
    ViewData["Title"] = "Quick Links";
}
<section>
    <section class="banner-section display-inline hero_section">
        <div class="banner-outer">
            <div class="banner">
                <img src="~/images/state_banner.png" alt="">
                <div class="banner-content">
                    <div class="container">
                        <div class="cnt">
                            <h2 class="mb-1">Quick Links</h2>

                            <p>Your Gateway to Essential Government Resources.</p>
                            <!-- <h2 class="mb-1">Prime Minister’s </h2>
                            <h2 class="mb-1">Employment Generation </h2>
                            <h2 class="mb-1">Programme (PMEGP)</h2> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-5 mt-5">
        <div class="row quick_link_card custom_row_8">
            <div class="col-sm-6 col-lg-4 mb-4">
                <a href="https://upsic.in/" target="_blank" rel="noopener noreferrer">
                    <div class="quick_card">
                        <div class="img_wrap">
                            <img src="~/images/quickLinks/icon-1.png" alt="UPSIC Logo">
                        </div>
                        <div class="description">
                            <h3>UPSIC</h3>
                            <span class="text-link d-flex gap-1 align-items-center">
                                Visit Website >
                            </span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-lg-4 mb-4">
                <a href="https://msme.gov.in/" target="_blank" rel="noopener noreferrer">
                    <div class="quick_card">
                        <div class="img_wrap">
                            <img src="~/images/quickLinks/icon-12.png"  alt="MSME Logo">
                        </div>
                        <div class="description">
                            <h3>MSME <br /> Government of India</h3>
                            <span class="text-link d-flex gap-1 align-items-center">
                                Visit Website >
                            </span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-lg-4 mb-4">
                <a href="https://up.gov.in/en" target="_blank" rel="noopener noreferrer">
                    <div class="quick_card">
                        <div class="img_wrap">
                            <img src="~/images/quickLinks/icon-2.png" alt="Uttar Pradesh Govt. Logo">
                        </div>
                        <div class="description">
                            <h3>Uttar Pradesh Govt.</h3>
                            <span class="text-link d-flex gap-1 align-items-center">
                                Visit Website >
                            </span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-lg-4 mb-4">
                <a href="https://invest.up.gov.in/" target="_blank" rel="noopener noreferrer">
                    <div class="quick_card">
                        <div class="img_wrap">
                            <img src="~/images/quickLinks/icon-4.png" alt="INVEST UP Logo">
                        </div>
                        <div class="description">
                            <h3>INVEST UP</h3>
                            <span class="text-link d-flex gap-1 align-items-center">
                                Visit Website >
                            </span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-lg-4 mb-4">
                <a href="https://www.data.gov.in/" target="_blank" rel="noopener noreferrer">
                    <div class="quick_card">
                        <div class="img_wrap">
                            <img src="~/images/quickLinks/icon-5.png"  alt="Data.gov.in Logo">
                        </div>
                        <div class="description">
                            <h3>Data.gov.in</h3>
                            <span class="text-link d-flex gap-1 align-items-center">
                                Visit Website >
                            </span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-lg-4 mb-4">
                <a href="https://msme.up.gov.in/" target="_blank" rel="noopener noreferrer">
                    <div class="quick_card">
                        <div class="img_wrap">
                            <img src="~/images/quickLinks/icon-6.png" 
                                 alt="Directorate of Industries &amp; Enterprise Promotion Logo">
                        </div>
                        <div class="description">
                            <h3>Directorate of Industries &amp; Enterprise Promotion</h3>
                            <span class="text-link d-flex gap-1 align-items-center">
                                Visit Website >
                            </span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-lg-4 mb-4">
                <a href="https://niveshmitra.up.nic.in/" target="_blank" rel="noopener noreferrer">

                    <div class="quick_card">
                        <div class="img_wrap">
                            <img src="~/images/quickLinks/icon-7.png"  alt="NIVESH MITRA Logo">
                        </div>
                        <div class="description">
                            <h3>NIVESH MITRA</h3>
                            <span class="text-link d-flex gap-1 align-items-center">
                                Visit Website >
                            </span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-lg-4 mb-4">
                <a href="https://www.makeinindia.com/" target="_blank" rel="noopener noreferrer">
                    <div class="quick_card">
                        <div class="img_wrap">
                            <img src="~/images/quickLinks/icon-8.png" alt="MAKE IN INDIA Logo">
                        </div>
                        <div class="description">
                            <h3>MAKE IN INDIA</h3>
                            <span class="text-link d-flex gap-1 align-items-center">
                                Visit Website >
                            </span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-lg-4 mb-4">
                <a href="https://www.myscheme.gov.in/" target="_blank" rel="noopener noreferrer">
                    <div class="quick_card">
                        <div class="img_wrap">
                            <img src="~/images/quickLinks/icon-9.png" alt="My Scheme Logo">
                        </div>
                        <div class="description">
                            <h3>My Scheme</h3>
                            <span class="text-link d-flex gap-1 align-items-center">
                                Visit Website >
                            </span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-lg-4 mb-4">
                <a href="https://odopup.in/en" target="_blank" rel="noopener noreferrer">
                    <div class="quick_card ">
                        <div class="img_wrap">
                            <img src="~/images/quickLinks/icon-11.png"  alt="ODOP Logo">
                        </div>
                        <div class="description">
                            <h3>ODOP</h3>
                            <span class="text-link d-flex gap-1 align-items-center">
                                Visit Website >
                            </span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-sm-6 col-lg-4 mb-4">
                <a href="https://www.digitalindia.gov.in/" target="_blank" rel="noopener noreferrer">
                    <div class="quick_card">
                        <div class="img_wrap">
                            <img src="~/images/quickLinks/icon-3.png" alt="Digital India Logo">
                        </div>
                        <div class="description">
                            <h3>Digital India</h3>
                            <span class="text-link d-flex gap-1 align-items-center">
                                Visit Website >
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

</section>